@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LearnCPR</h1>
    <p class="lead">LearnCPR is a mobile CPR Training Center run by Joeseph Edwin Voisard and I have no idea what else to say here..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News Feed</h2>
        <p>
            This is a place holder
        </p>
        <hr/>
        <p>Site being built by Bronze Brown at <a href="http://StellaNoxSolutions.com">StellaNox Solutions</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming Events</h2>
        <p>This is a place holder</p>
    </div>
    <div class="col-md-4">
        <h2>Note from Joeseph</h2>
        <p>This a place holder, hell home page layout is likely to change completely.</p>
    </div>
</div>